<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{pageName}}</title>
</head>
<body>
    <div class="site-name container">
        <h1>
            <a href="/">DevJobs</a>
        </h1>
        {{#if bar}}
            <div class="buscador">
                <form action="#">
                    <input type="text" class="buscar">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        {{/if}}
    </div>
    <header class="site-header contenedor separador">
        <h2>{{pageName}}</h2>
        {{#if tagline}}
            <p class="tagline">{{tagline}}</p>
        {{/if}}
        {{#if button}}
            <a href="/vacantes/nueva" class="btn btn-azul">Publicar nueva vacannte</a>
        {{/if}}
    </header>
    <div class="main-content container">
        {{{body}}}
    </div>
</body>
</html>