<main class="contenedor">
    <form action="/account-create" method="POST" class="default-form">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="name" placeholder="Tu nombre">
        </div>
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email"  placeholder="Tu email">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password"  placeholder="Tu Password">
        </div>
        <div class="campo">
            <label>Repetir Password</label>
            <input type="password" name="confirm"  placeholder="Repite tu Password">
        </div>
        <div class="campo acciones">
            <a href="/login">Volver a iniciar sesion</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear cuenta" class="btn btn-azul">
        </div>
    </form>
</main>