<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Empresa</p>
        <p class="nombre">{{vacancie.company}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Ubicación</p>
        <p class="nombre">{{vacancie.location}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Contrato</p>
        <p class="contrato">{{vacancie.contract}}</p>
    </div>
</div>